.inner-container {
    position: relative;
    width: 60%;
    height: 600px;
    padding: 60px;
    margin: 100px auto 0;
    overflow-y: scroll;
}

.icon-x {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: -10px;
}

.add {
    overflow: hidden;
}

.addtxt {
    float: right;
}

.historytxt {
    line-height: 38px;
}

.bottom {
    margin-top: 60px;
}

.checkbox-one {
    margin-top: 60px;
}
